*{
    border: red solid 2px;
    font-family: Arial;
}

.main-cont{
    display: flex;
    flex-direction: column;
}

.fp-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: white;
    font-family: Arial;
    padding-left: 60px;
    padding-right: 60px;
}

.fp-header{
    display: flex;
    flex: auto;
    gap: 10px;
    align-items: center;
    padding: 30px;
}

.fp-head-child-logo{
    margin-right: auto;
    font-size: large;
}

.fp-head-child{
    font-size: smaller;
    font-weight: 100;
}

.fp-para{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    /* background: cyan; */
    max-height: 200px;
    flex-wrap: wrap;
}

.fp-para-head{
    font-size: xx-large;
    width: 10em;
}

.fp-para-para{
    width: 300px;
    font-size: smaller;
    font-weight: 100;
    color: #E5E7EB;
}

.fp-para-button{
    color: white;
    background-color: #3882F6;
    border: #1F2937;
    padding: 4px;
    border-radius: 5px;
    width: 10em;
}

.fp-para-image{
    flex: auto;
    width: auto;
    height: 100px;
    margin-left: auto;
}

.sc-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: white;
    align-items: center;
    margin: 10px;
}

.sc-img-dis-cont{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.sc-header{
    align-self: center;
    font-size: larger;
    font-weight: bold;
}

.sc-img-dis{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
}

.sc-img{
    border: black solid 2px;
    border-radius: 5px;
}

.sc-dis{
    max-width: 100px;
    font-size: small;
    color: rgb(76, 76, 76);
    text-align: center;
    margin: 10px;
}

